

<div class="search-form">
    <form class="row mt-4" method="POST" action="">
        <div class="mb-3 row">
        <label for="search-input" class="col-sm-2 col-form-label">Key</label>
            <div class="col-sm-10">
                <input type="text" name="q" class="form-control" id="search-input" placeholder="Nhap tu khoa">
            </div>
        </div>
       
        <div class="mb-3 row">
            <button type="submit" class="btn btn-primary mb-3 col-sm-2 mx-auto">Search</button>
        </div>
    </form>

</div>